/* Material datepicker custom styles */
::ng-deep .mat-form-field-sm .mat-mdc-text-field-wrapper {
  height: 2.5rem !important;
}

::ng-deep .mat-form-field-sm .mat-mdc-form-field-flex {
  height: 2.5rem !important;
  align-items: center;
}

::ng-deep .mat-form-field-sm .mat-mdc-form-field-infix {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  min-height: auto !important;
}

::ng-deep .mat-form-field-sm input {
  font-size: 0.875rem !important;
}

::ng-deep .mat-mdc-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
